* {
    margin: 0;
    padding: 0;
}

.navbar .nav-link {
    border-radius: 20px;
}
.navbar .nav-link:hover {
    background-color: black;
    color: white !important;
    border-radius: 20px;
}


.carousel-control-prev-icon {
    position: absolute;
    top: 24.1vw;
    left: 44vw;
    background-color: rgb(0, 0, 0) !important;
    height: 20px;

    border-radius: 10px;
}

.carousel-control-next-icon {
    position: absolute;
    top: 24.1vw;
    right: 44vw;
    background-color: rgb(0, 0, 0) !important;
    height: 20px;
    border-radius: 10px;
}
